<!DOCTYPE html>
<html>
	<head>
		<title>Socket.io Example</title>
		<link rel="stylesheet" href="stylesheets/style.css" />
		<script src="javascripts/script.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
	</head>
	<body>
		<h1 id="clock"></h1>
		<button id="start">Start</button>
		<button id="stop">Stop</button>
	</body>
</html>